*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Arial, sans-serif;
    background:#ffffff;
    color:#1B2A4A;
    line-height:1.8;
}

/* NAVBAR */

nav{
    position:fixed;
    top:0;
    width:100%;
    padding:20px 8%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    background:rgba(255,255,255,0.9);

    backdrop-filter:blur(10px);

    z-index:1000;
}

.logo{
    font-size:1.4rem;
    font-weight:bold;
    color:#00B4A6;
}

nav ul{
    display:flex;
    gap:30px;
    list-style:none;
}

nav a{
    text-decoration:none;
    color:#1B2A4A;
    font-weight:bold;
}

/* HERO */

.hero{
    height:100vh;

    background:
    linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url('https://images.unsplash.com/photo-1565043589221-1a6fd9ae45c7?q=80&w=1974&auto=format&fit=crop');

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    color:white;

    padding:20px;
}

.hero-content{
    max-width:900px;
}

.hero h1{
    font-size:5rem;
    line-height:1.1;
    margin-bottom:30px;
}

.hero p{
    font-size:1.3rem;
    margin-bottom:40px;
}

.hero-btn{
    padding:15px 35px;

    background:#00B4A6;

    color:white;

    text-decoration:none;

    border-radius:40px;

    font-weight:bold;

    transition:0.3s;
}

.hero-btn:hover{
    background:#009688;
}

/* SECTIONS */

.section{
    padding:120px 10%;
}

.section-title{
    font-size:3rem;
    margin-bottom:30px;
    color:#00B4A6;
}

.section-text{
    font-size:1.15rem;
    max-width:1000px;
}

.dark-section{
    background:#1B2A4A;
    color:white;
}

/* FOOTER */

footer{
    padding:40px;
    text-align:center;
    background:#111827;
    color:white;
}
